{% block account_info %}
<div id="info">
    <p>HI</p>
    <!-- SLICNO KO OVO
    {% for metric in metrics %}
    <p>Date: <span id="date">{{ metric.date }} </span></p>
    <p>Calorie intake: <span id="calories">{{ metric.calorie_intake }} kcal</span></p>
    <p>Exercise: <span id="exercise">{{ metric.exercise_duration }} minutes</span></p>
    <p>Sleep: <span id="sleep">{{ metric.sleep_hours }} hours</span></p>
    <p>Water intake: <span id="water">{{ metric.water_consumed }} liters</span></p>
{% endfor %}-->
</div>
{% endblock %}