{% block content %}
<section class="health-metrics">
    <h2>Health Metrics</h2>
    <br>
    <h3>Choose time period:</h3>
    <div class="time-period-selector">
        <!-- HTMX attributes can be adjusted according to your server endpoints -->
        <button calss ="active" hx-get="/metrics?period=today" hx-trigger="click" hx-target="#metrics" hx-swap="outerHTML">Today</button>
        <button calss ="active" hx-get="/metrics?period=yesterday" hx-trigger="click" hx-target="#metrics" hx-swap="outerHTML">Yesterday</button>
        <button calss ="active" hx-get="/metrics?period=last7days" hx-trigger="click" hx-target="#metrics" hx-swap="outerHTML">Last 7 days</button>
        <button calss ="active" hx-get="/metrics?period=lastmonth" hx-trigger="click" hx-target="#metrics" hx-swap="outerHTML">Last month</button>
    </div>
    <h3>Analytics for:</h3>
    <div class="analytics-selector">
        <button calss ="active" hx-get="/metrics?type=me" hx-trigger="click" hx-target="#metrics" hx-swap="outerHTML">Just Me</button>
        <button calss ="active" hx-get="/metrics?type=age" hx-trigger="click" hx-target="#metrics" hx-swap="outerHTML">Avg my age</button>
        <button calss ="active" hx-get="/metrics?type=height" hx-trigger="click" hx-target="#metrics" hx-swap="outerHTML">Avg my height</button>
        <button calss ="active" hx-get="/metrics?type=weight" hx-trigger="click" hx-target="#metrics" hx-swap="outerHTML">Avg my weight</button>
    </div>
    <div id="metrics">
        {% block metrics_block %}
        {% endblock %}
    </div>
</section>
{% endblock %}
