<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Tracker Dashboard</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>
    <div class="container">
        <h1>Health Metrics Dashboard</h1>
        <!---<div hx-get="/loadMetrics" hx-trigger="load" id="metrics-container">
        </div> -->
    </div>
</body>
</html>
